<div class="container">
<!-- Button trigger modal -->

<div class="d-grid gap-2 d-md-flex justify-content-md-end" style="margin-top: 20px; margin-bottom: 20px;">
  <button type="button" class="btn btn-primary justify-content-end" data-bs-toggle="modal" data-bs-target="#write-review">
    Write a review
  </button>
</div>
<!-- Modal -->

<div class="modal fade" id="write-review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="game-title">Write your review!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="review-form">
          <div class="mb-3">
            <label for="username-text" class="col-form-label">Username:</label>
            <textarea class="form-control" id="username-text" style="height: 40px;"></textarea>
            <label for="review-text" class="col-form-label">Review:</label>
            <textarea class="form-control" id="review-text" style="height: 100px;"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary post-review-btn">Post review</button>
      </div>
    </div>
  </div>
</div>

{{#if reviews.length}}
  <table class="table align-middle mb-0 bg-white game-review-list">
    <thead class="bg-light">
      <tr>
        <th>Users</th>
        <th>Reviews</th>
        <th>Rating</th>
        <th>Date created</th>
        <th>Actions</th>
      </tr>
    </thead>
    {{#each reviews as |review|}}
    <tbody id="review-{{review.id}}">
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img src= {{review.imgURL}}>
            <div class="ms-3">
              <p class="fw-bold mb-1">{{review.username}}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{review.content}}</p>
        </td>
        <td>
          <div class="fw-normal mb-1"></div>
        </td>
        <td>
          <span class="fw-normal mb-1">{{ format_date review.createdAt}}</span>
        </td>
        <td>
          <a style="color: green; margin-right: 10px;" role="button">
            <i class="fas fa-pen mb-1"></i>
          </a>
          <a style="color: red;" role="button">
            <i class="far fa-trash-can mb-1"></i>
          </a>
        </td>
      </tr>
    </tbody>
    {{/each}}
  </table>
</div>
{{else}}
  <p>No reviews found.</p>
{{/if}}
<script src="/js/game-review.js"></script>